# dependencies
node_modules/

# build output
dist/

# logs
*.log
npm-debug.log*

# Environment variables
.env
.env.*
!.env.example

# Vercel local settings
.vercel/

# editor / OS
.DS_Store
.vscode/
.idea/
